Dear <%= @user.firstName+' '+@user.lastName %>,

This e-mail is to inform that you have a new task for <%= @project.projectName %> project.

Project 				  : <%= @project.projectName %>
Related Document Category : <%= @document_category.categoryName %>
Due Date 				  : <%= @activity.dueDate %>
Priority                  : <%= @activity.priority %>
Supervisor 				  : <%= @supervisor_user.firstName+' '+@supervisor_user.lastName %>

<a href="http://localhost:3000/activities?projectId=1">Accept</a>

Best Regards,
<%= @supervisor_user.firstName %>
PmBokDocs