<p id="notice"><%= notice %></p>

<p>
  <strong>Documentid:</strong>
  <%= @document.documentId %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Filelocation:</strong>
  <%= @document.fileLocation %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
