<div id="project Details" class="col-md-4">
  <h3>Project :<%= @project.projectName %></h3><br/>
  <table class = "table table-striped">
    <tr>
      <td><h4><%= link_to "Documents", documents_path(:projectId => @project.id) %></h4></td>
    </tr>
    <tr>
      <td><h4><%= link_to "Activities", activities_path %></h4></td>
    </tr>
    <tr>
      <td><h4><%= link_to "Issues", issues_path %></h4></td>
    </tr>
 </table>
</div>

<div id="project" class="col-md-6">
   <h4>Project Details </h4>
  <table class="table table-bordered">
    <tr class="success">
      <th>Description</th>
      <td><%= @project.description %></td>
    </tr>
    <tr class="info">
      <th>Start Date:</th>
      <td><%= @project.startDate %></td>
    </tr>
    <tr class="warning">
      <th>Expected Completion Date:</th>
      <td><%= @project.endDate %></td>
    </tr>
  </table>
  <br/>
  <div class="col-lg-12 text-right"><%= link_to 'Edit Project Details', edit_project_path(@project), :class => "btn btn-default" %> |
    <%= link_to 'Project List', projects_path, :class => "btn btn-info" %></div>
  <br/>
  <h4>Project Team </h4>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
      </tr>
    </thead>
    <tbody>
    <% @project.users.each do |team| %>
        <tr>
          <td><%= team.id %></td>
          <td><%= team.email %></td>
        </tr>
    <% end %>
</tbody>
</table>
<br/>
  <% if current_user.role_id == 1 %>
    <div class="col-lg-12 text-right"><%= link_to "Create Project Team", project_teams_path(:projectId => @project.id), :class => "btn btn-success" %></div>
  <% end %>
<br/>

</div>
