<div id="all_projects" class="col-md-4">
  <div class="container">
    <div class="page-header">
      <h1>Listing activities</h1>
    </div>
    <br/>
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th>Activityname</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Priority</th>
        </tr>
        </thead>

        <tbody>
        <% @activities.each do |activity| %>
            <tr>
              <td><%= link_to activity.activityName, document_path(:id =>activity.project_id, :projectId => activity.project_id, :documentCategoryId => activity.documentcategories_id)%></td>
              <td><%= activity.status %></td>
              <td><%= activity.dueDate %></td>
              <td><%= activity.priority %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <br/>
      <div class="col-lg-10 text-right">
        <% if current_user.role_id == 1 %>
            <%= link_to "Create Activity", new_activity_path(:projectId  => params[:projectId]), :class => "btn btn-success" %> |
          </div>
        <% end %>
        <%= link_to 'Back To Project', projects_path, :class => "btn btn-default" %> </div>
      <br/>
    </div>
  </div>
</div>
